body *  {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

  body {
  	background-image: url("https://cdn.pixabay.com/photo/2015/02/24/15/41/dog-647528_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  }

a {
  text-decoration: none;
}

nav {
	height: 80px;
	width: 100%;
	position: fixed;
	background-color: grey;
}

nav img {
	height: 60px;
    border: 1px black solid;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 40px;
    vertical-align: middle;	

}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

/** your styles go here **/
nav ul {
	display: inline-block;
    
}

nav li {
	display: inline-block;
}

nav li::after {
	content: "|";
	margin: 0 3px;
}

.border {
	width: 600px;
	height: 300px;
	margin-top: 200px;
	border: 10px white dotted;
    position: relative;
	
}

.cat, .dog {
  position: absolute;
  width: 200px;
}

.cat {
  top: -90px;
  left: -90px;
}

.dog {
  bottom: -120px;
  right: -60px;
}